/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /* SECCION DE NAVEGACION Y ENCABEZADO*/
  .navbar {
    background-color: #A0BCC2;
    height: 60px; }
  .container-fluid {
    height: 60px; }
  .navbar-brand {
    text-decoration: none;
    font-size: 23px;
    letter-spacing: 2px; }
    .navbar-brand:hover {
      font-weight: 600;
      color: #A0BCC2; }
  .nav-link {
    padding-left: 10px; }
  .navbar-nav {
    background-color: #A0BCC2;
    padding: 10px; }
  .link-color {
    color: #000 !important; }
    .link-color:hover {
      font-weight: 600;
      color: #A0BCC2; }
  .dropdown-menu {
    background-color: #A0BCC2;
    color: #000; }
    .dropdown-menu:hover {
      color: #000 !important; }
    .dropdown-menu .dropdown-item {
      padding-left: 30px; }
      .dropdown-menu .dropdown-item:hover {
        font-weight: 600;
        background-color: #A0BCC2; }
  .redSocialNav {
    visibility: hidden; } }

/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {
  /* SECCION DE NAVEGACION Y ENCABEZADO*/
  .navbar {
    background-color: #A0BCC2;
    height: 80px; }
  .navbar-brand {
    text-decoration: none;
    font-size: 30px;
    letter-spacing: 2px;
    padding: 0 250px 0 100px; }
    .navbar-brand:hover {
      font-weight: 600;
      color: #A0BCC2; }
  .link-color {
    color: #000 !important;
    font-size: 17px; }
    .link-color:hover {
      font-weight: 600;
      color: #A0BCC2; }
  .dropdown-menu {
    background-color: #A0BCC2;
    color: #000; }
    .dropdown-menu:hover {
      color: #000 !important; }
    .dropdown-menu .dropdown-item:hover {
      font-weight: 600; }
  .redSocialNav ul {
    list-style: none;
    margin: auto 0; }
    .redSocialNav ul .redesNav {
      display: inline-block; }
      .redSocialNav ul .redesNav img {
        width: 30px;
        height: 30px;
        padding: 5px;
        margin: 0 10px;
        border-radius: 10px; }
        .redSocialNav ul .redesNav img:hover {
          background-color: #DAE5D0; } }

/*FOOTER*/
/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  footer {
    background-color: #A0BCC2;
    color: #000;
    padding: 10px; }
    footer .containerFooter {
      display: flex;
      flex-flow: column wrap;
      padding-bottom: 10px; }
      footer .containerFooter ul {
        list-style: none; }
        footer .containerFooter ul h4 {
          font-weight: 600;
          letter-spacing: 2px;
          padding: 10px 10px 10px 0; }
        footer .containerFooter ul li {
          margin: 8px; }
          footer .containerFooter ul li:hover {
            color: #DAE5D0; }
          footer .containerFooter ul li a {
            text-align: center;
            margin: 0 auto;
            text-decoration: none; }
          footer .containerFooter ul li span {
            font-size: 15px;
            color: #000;
            padding-left: 10px; }
            footer .containerFooter ul li span:hover {
              color: #DAE5D0; }
          footer .containerFooter ul li img {
            width: 30px;
            height: 30px;
            padding: 5px;
            border-radius: 10px; }
      footer .containerFooter .logoRed:hover {
        background-color: #DAE5D0; }
      footer .containerFooter .fotoContactanos:hover {
        background-color: #DAE5D0; }
      footer .containerFooter .copyright {
        padding-top: 40px; }
        footer .containerFooter .copyright p {
          font-size: 15px;
          text-align: center; }
      footer .containerFooter .by {
        padding-top: 15px;
        font-weight: bold !important; } }

/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {
  footer {
    background-color: #A0BCC2;
    color: #000;
    padding: 10px; }
    footer .containerFooter {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-bottom: 10px; }
      footer .containerFooter ul {
        list-style: none; }
        footer .containerFooter ul h4 {
          font-size: 22px;
          letter-spacing: 2px;
          padding: 10px 10px 10px 0; }
        footer .containerFooter ul li {
          margin: 8px; }
          footer .containerFooter ul li:hover {
            color: #DAE5D0; }
          footer .containerFooter ul li a {
            text-align: center;
            margin: 0 auto;
            text-decoration: none; }
          footer .containerFooter ul li span {
            color: #000;
            padding-left: 10px; }
            footer .containerFooter ul li span:hover {
              color: #DAE5D0; }
          footer .containerFooter ul li img {
            width: 30px;
            height: 30px;
            padding: 5px;
            border-radius: 10px; }
      footer .containerFooter .logoRed:hover {
        background-color: #DAE5D0; }
      footer .containerFooter .fotoContactanos:hover {
        background-color: #DAE5D0; }
      footer .containerFooter .copyright {
        padding-top: 40px; }
        footer .containerFooter .copyright p {
          text-align: center; }
      footer .containerFooter .by {
        padding-top: 15px;
        font-weight: bold !important; } }

/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  /*SECCION INFO*/
  #infoCompra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px; }
    #infoCompra .info__container {
      text-align: center;
      margin: 30px; }
      #infoCompra .info__container h3 {
        font-weight: 600;
        font-size: 16px; } }

/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {
  /*SECCION INFO*/
  #infoCompra {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px; }
    #infoCompra .info__container {
      text-align: center;
      margin: 33px; }
      #infoCompra .info__container h3 {
        font-weight: 600;
        font-size: 22px; } }

/*FOOTER*/
/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  footer {
    background-color: #A0BCC2;
    color: #000;
    padding: 10px; }
    footer .containerFooter {
      display: flex;
      flex-flow: column wrap;
      padding-bottom: 10px; }
      footer .containerFooter ul {
        list-style: none; }
        footer .containerFooter ul h4 {
          font-weight: 600;
          letter-spacing: 2px;
          padding: 10px 10px 10px 0; }
        footer .containerFooter ul li {
          margin: 8px; }
          footer .containerFooter ul li:hover {
            color: #DAE5D0; }
          footer .containerFooter ul li a {
            text-align: center;
            margin: 0 auto;
            text-decoration: none; }
          footer .containerFooter ul li span {
            font-size: 15px;
            color: #000;
            padding-left: 10px; }
            footer .containerFooter ul li span:hover {
              color: #DAE5D0; }
          footer .containerFooter ul li img {
            width: 30px;
            height: 30px;
            padding: 5px;
            border-radius: 10px; }
      footer .containerFooter .logoRed:hover {
        background-color: #DAE5D0; }
      footer .containerFooter .fotoContactanos:hover {
        background-color: #DAE5D0; }
      footer .containerFooter .copyright {
        padding-top: 40px; }
        footer .containerFooter .copyright p {
          font-size: 15px;
          text-align: center; }
      footer .containerFooter .by {
        padding-top: 15px;
        font-weight: bold !important; } }

/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {
  footer {
    background-color: #A0BCC2;
    color: #000;
    padding: 10px; }
    footer .containerFooter {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-bottom: 10px; }
      footer .containerFooter ul {
        list-style: none; }
        footer .containerFooter ul h4 {
          font-size: 22px;
          letter-spacing: 2px;
          padding: 10px 10px 10px 0; }
        footer .containerFooter ul li {
          margin: 8px; }
          footer .containerFooter ul li:hover {
            color: #DAE5D0; }
          footer .containerFooter ul li a {
            text-align: center;
            margin: 0 auto;
            text-decoration: none; }
          footer .containerFooter ul li span {
            color: #000;
            padding-left: 10px; }
            footer .containerFooter ul li span:hover {
              color: #DAE5D0; }
          footer .containerFooter ul li img {
            width: 30px;
            height: 30px;
            padding: 5px;
            border-radius: 10px; }
      footer .containerFooter .logoRed:hover {
        background-color: #DAE5D0; }
      footer .containerFooter .fotoContactanos:hover {
        background-color: #DAE5D0; }
      footer .containerFooter .copyright {
        padding-top: 40px; }
        footer .containerFooter .copyright p {
          text-align: center; }
      footer .containerFooter .by {
        padding-top: 15px;
        font-weight: bold !important; } }

/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  #contacto {
    margin-top: 60px;
    padding: 30px; }
    #contacto .contacto__titulo {
      text-align: center;
      font-size: 22px;
      margin-bottom: 10px;
      letter-spacing: 3px;
      transition: letter-spacing 1.5s; }
      #contacto .contacto__titulo:hover {
        letter-spacing: 6px; }
    #contacto iframe {
      box-shadow: 0px 0px 25px 9px #A0BCC2;
      width: 300px;
      height: 400px; } }

/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {
  #contacto {
    margin-top: 80px;
    padding: 30px; }
    #contacto .contacto__titulo {
      text-align: center;
      font-size: 30px;
      margin-bottom: 40px;
      letter-spacing: 3px;
      transition: letter-spacing 1.5s; }
      #contacto .contacto__titulo:hover {
        letter-spacing: 6px; }
    #contacto #infoContacto {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      #contacto #infoContacto .detalleBold {
        font-weight: 600;
        font-size: 20px; }
      #contacto #infoContacto #horario-dudas {
        margin: 40px;
        padding-bottom: 30px; }
        #contacto #infoContacto #horario-dudas a {
          color: #000;
          text-align: center;
          margin: 0 auto;
          text-decoration: none; }
          #contacto #infoContacto #horario-dudas a:hover {
            color: #A0BCC2; }
        #contacto #infoContacto #horario-dudas img {
          width: 30px;
          height: 30px;
          padding: 5px;
          border-radius: 10px; }
          #contacto #infoContacto #horario-dudas img:hover {
            background-color: #A0BCC2; }
      #contacto #infoContacto iframe {
        box-shadow: 0px 0px 25px 9px #A0BCC2;
        margin-top: 40px;
        width: 500px;
        height: 400px; } }

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0; }

body {
  background-color: #fff; }

/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {
  #productos {
    margin-top: 60px;
    padding: 30px; }
    #productos .productos__titulo {
      text-align: center;
      font-size: 22px;
      margin-bottom: 10px;
      letter-spacing: 3px;
      transition: letter-spacing 1.5s; }
      #productos .productos__titulo:hover {
        letter-spacing: 6px; }
    #productos .productos__container {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-content: center; }
      #productos .productos__container .container__productos {
        border: 2px solid #A0BCC2;
        border-radius: 10px;
        margin: 20px; }
        #productos .productos__container .container__productos img {
          width: 300px;
          height: 300px;
          border-radius: 10px; }
        #productos .productos__container .container__productos .fotoGrande {
          width: 290px;
          height: 220px;
          border-radius: 10px; }
        #productos .productos__container .container__productos .fotoGrande-silla {
          width: 300px;
          height: 350px;
          border-radius: 10px; }
        #productos .productos__container .container__productos .foto-producto {
          width: 395px;
          height: 315px; }
        #productos .productos__container .container__productos:hover {
          box-shadow: 0px 0px 25px 9px #A0BCC2; }
        #productos .productos__container .container__productos .descripcionProductos .nombreProducto {
          font-weight: 600;
          margin-left: 20px; }
        #productos .productos__container .container__productos .descripcionProductos .detalleProducto {
          font-style: italic;
          margin-left: 20px; }
        #productos .productos__container .container__productos .descripcionProductos .accordion {
          margin: 0 auto; }
        #productos .productos__container .container__productos .descripcionProductos .accordion-button {
          border-color: #A0BCC2 !important; }
        #productos .productos__container .container__productos .descripcionProductos .listaDetalle {
          font-style: italic; }
        #productos .productos__container .container__productos .descripcionProductos li {
          font-size: 13px;
          list-style: none; }
        #productos .productos__container .container__productos .descripcionProductos .detalleBold {
          font-weight: 600; }
        #productos .productos__container .container__productos .descripcionProductos .containerPrecio {
          display: flex;
          justify-content: space-around;
          align-items: baseline;
          margin: 20px 0; }
          #productos .productos__container .container__productos .descripcionProductos .containerPrecio .precioProducto {
            font-weight: 600; }
          #productos .productos__container .container__productos .descripcionProductos .containerPrecio a {
            text-decoration: none;
            color: #000;
            border: 1px solid #A0BCC2;
            padding: 10px;
            border-radius: 10px; }
            #productos .productos__container .container__productos .descripcionProductos .containerPrecio a:hover {
              font-weight: 600;
              background-color: #A0BCC2;
              box-shadow: 0px 0px 25px 9px #A0BCC2; } }

/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {
  #productos {
    margin-top: 80px;
    padding: 30px; }
    #productos .productos__titulo {
      text-align: center;
      font-size: 30px;
      margin-bottom: 20px;
      letter-spacing: 3px;
      transition: letter-spacing 1.5s; }
      #productos .productos__titulo:hover {
        letter-spacing: 6px; }
    #productos .productos__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 40px; }
      #productos .productos__container .container__productos {
        border: 2px solid #A0BCC2;
        border-radius: 10px;
        margin: 20px; }
        #productos .productos__container .container__productos img {
          border-radius: 10px; }
        #productos .productos__container .container__productos .foto-producto {
          width: 395px;
          height: 315px; }
        #productos .productos__container .container__productos .fotoGrande-silla {
          width: 380px;
          height: 430px; }
        #productos .productos__container .container__productos .fotoPlacard {
          width: 400px;
          height: 400px; }
        #productos .productos__container .container__productos:hover {
          box-shadow: 0px 0px 25px 9px #A0BCC2; }
        #productos .productos__container .container__productos .descripcionProductos .nombreProducto {
          font-weight: 600;
          margin-left: 20px; }
        #productos .productos__container .container__productos .descripcionProductos .detalleProducto {
          font-style: italic;
          margin-left: 20px; }
        #productos .productos__container .container__productos .descripcionProductos .accordion {
          margin: 0 auto; }
        #productos .productos__container .container__productos .descripcionProductos .accordion-button {
          border-color: #A0BCC2 !important; }
        #productos .productos__container .container__productos .descripcionProductos .listaDetalle {
          padding-right: 40px;
          font-style: italic; }
        #productos .productos__container .container__productos .descripcionProductos li {
          list-style: none; }
        #productos .productos__container .container__productos .descripcionProductos .detalleBold {
          font-weight: 600; }
        #productos .productos__container .container__productos .descripcionProductos .containerPrecio {
          display: flex;
          justify-content: space-around;
          align-items: baseline;
          margin: 20px; }
        #productos .productos__container .container__productos .descripcionProductos .precioProducto {
          font-weight: 600;
          font-size: 19px; }
        #productos .productos__container .container__productos .descripcionProductos a {
          text-decoration: none;
          color: #000;
          border: 1px solid #A0BCC2;
          padding: 10px;
          border-radius: 10px; }
          #productos .productos__container .container__productos .descripcionProductos a:hover {
            font-weight: 600;
            background-color: #A0BCC2;
            box-shadow: 0px 0px 25px 9px #A0BCC2; } }
