/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {

    /* SECCION DE NAVEGACION Y ENCABEZADO*/

    .navbar {
        background-color: $colorPrincipal;
        height: 60px;
    }

    /* .container-fluid {
        height: 61px;
    } */

    .navbar-brand {
        text-decoration: none;
        font-size: 23px;
        letter-spacing: 2px;

        &:hover {
            font-weight: 600;
            color: $colorPrincipal;
        }
    }

    .nav-link {
        padding-left: 10px;
    }

    .navbar-nav {
        background-color: $colorPrincipal;
        padding: 10px;
    }

    .link-color {
        color: #000 !important;

        &:hover {
            font-weight: 600;
            color: $colorPrincipal;
        }
    }

    .dropdown-menu {
        background-color: $colorPrincipal;
        color: #000;

        &:hover {
            color: #000 !important;
        }

        .dropdown-item {
            padding-left: 30px;

            &:hover {
                font-weight: 600;
                background-color: $colorPrincipal;
            }
        }
    }

    .carrito {
        display: flex;
        position: absolute;
        visibility: hidden;

        img {
            width: $ancho-redes-fotos;
            height: $alto-redes-fotos;
            padding: 5px;
            border-radius: 10px;
        }
    }

}



/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {

    /* SECCION DE NAVEGACION Y ENCABEZADO*/

    .navbar {
        background-color: $colorPrincipal;
        height: 80px;
    }

    .navbar-brand {
        text-decoration: none;
        font-size: 30px;
        letter-spacing: 2px;
        padding: 0 250px 0 100px;

        &:hover {
            font-weight: 600;
            color: $colorPrincipal;
        }
    }

    .link-color {
        color: #000 !important;
        font-size: 17px;

        &:hover {
            font-weight: 600;
            color: $colorPrincipal;
        }
    }

    .dropdown-menu {
        background-color: $colorPrincipal;
        color: #000;

        &:hover {
            color: #000 !important;
        }

        .dropdown-item {
            &:hover {
                font-weight: 600;
            }
        }
    }

    .carrito {
        display: flex;
        margin-right: 20px;
        align-items: center;

        img {
            width: $ancho-redes-fotos;
            height: $alto-redes-fotos;
            padding: 5px;
            border-radius: 10px;
        }
    }
}