// PALETA DE COLORES
$color4: #F9EBC8;
$color3: #FEFBE7;
$colorSecundario: #DAE5D0;
$colorPrincipal: #A0BCC2;


// TAMAÑOS DE LETRAS
$size-H2Mobile: 22px;
$size-H2Tablet: 26px;
$size-H2Desktop: 30px;

// TAMAÑOS DE FOTOS
$ancho-redes-fotos: 30px;
$alto-redes-fotos: 30px;
$ancho-foto-producto-mobile: 300px;
$alto-foto-producto-mobile: 370px;
$ancho-foto-producto-desktop: 395px;
$alto-foto-producto-desktop: 315px;

// SOMBRAS
$sombra-producto: 0px 0px 25px 9px rgba(0,0,0,0.36);
$sombra-producto-hover: 0px 0px 25px 9px #A0BCC2;
