@import "variables", "header", "footer", "infoCompra", "contacto", "politicas";

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
}

/* VISTA MOBILE */
@media only screen and (min-width: 0px) and (max-width: 767px) {

    #productos {
        margin-top: 60px;
        padding: 30px;

        .productos__titulo {
            text-align: center;
            font-size: $size-H2Mobile;
            margin-bottom: 10px;
            letter-spacing: 3px;
            transition: letter-spacing 1.5s;

            &:hover {
                letter-spacing: 6px;
            }
        }

        .productos__container {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            align-content: center;

            .container__productos {
                border: 2px solid $colorPrincipal;
                border-radius: 10px;
                margin: 20px;

                img {
                    width: $ancho-foto-producto-mobile;
                    height: $alto-foto-producto-mobile;
                    border-radius: 10px;
                }

                .fotoGrande {
                    width: $ancho-foto-producto-mobile2;
                    height: $alto-foto-producto-mobile2;
                    border-radius: 10px;
                }

                .fotoGrande-silla {
                    width: $ancho-foto-producto-mobile-silla;
                    height: $alto-foto-producto-mobile-silla;
                    border-radius: 10px;
                }

                .foto-producto {
                    width: 395px;
                    height: 315px;
                }

                &:hover {
                    box-shadow: $sombra-producto-hover;
                }

                .descripcionProductos {

                    .nombreProducto {
                        font-weight: 600;
                        margin-left: 20px;
                    }

                    .detalleProducto {
                        font-style: italic;
                        margin-left: 20px;
                    }

                    .accordion {
                        margin: 0 auto;
                    }

                    .accordion-button {
                        border-color: $colorPrincipal !important;
                    }

                    .listaDetalle {
                        font-style: italic;
                    }

                    li {
                        font-size: 13px;
                        list-style: none;
                    }

                    .detalleBold {
                        font-weight: 600;
                    }

                    .containerPrecio {
                        display: flex;
                        justify-content: space-around;
                        align-items: baseline;
                        margin: 20px 0;

                        .precioProducto {
                            font-weight: 600;
                        }

                        a {
                            text-decoration: none;
                            color: #000;
                            border: 1px solid $colorPrincipal;
                            padding: 10px;
                            border-radius: 10px;
    
                            &:hover {
                                font-weight: 600;
                                background-color: $colorPrincipal;
                                box-shadow: $sombra-producto-hover;
                            }
                        }
                    }                    
                }
            }
        }
    }
}



/* VISTA DESKTOP */
@media only screen and (min-width: 1025px) {

    #productos {
        margin-top: 80px;
        padding: 30px;

        .productos__titulo {
            text-align: center;
            font-size: $size-H2Desktop;
            margin-bottom: 20px;
            letter-spacing: 3px;
            transition: letter-spacing 1.5s;

            &:hover {
                letter-spacing: 6px;
            }
        }

        .productos__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            margin: 40px;

            .container__productos {
                border: 2px solid $colorPrincipal;
                border-radius: 10px;
                margin: 20px;

                img {
                    border-radius: 10px;
                }

                .foto-producto {
                    width: 395px;
                    height: 315px;
                }

                .fotoGrande-silla {
                    width: $ancho-foto-producto-desktop-silla;
                    height: $alto-foto-producto-desktop-silla;
                }

                .fotoPlacard {
                    width: $ancho-foto-producto-desktop-placard;
                    height: $alto-foto-producto-desktop-placard;
                }

                &:hover {
                    box-shadow: $sombra-producto-hover;
                }

                .descripcionProductos {

                    .nombreProducto {
                        font-weight: 600;
                        margin-left: 20px;
                    }

                    .detalleProducto {
                        font-style: italic;
                        margin-left: 20px;
                    }

                    .accordion {
                        margin: 0 auto;
                    }

                    .accordion-button {
                        border-color: $colorPrincipal !important;
                    }

                    .listaDetalle {
                        padding-right: 40px;
                        font-style: italic;
                    }

                    li {
                        list-style: none;
                    }

                    .detalleBold {
                        font-weight: 600;
                    }

                    .containerPrecio {
                        display: flex;
                        justify-content: space-around;
                        align-items: baseline;
                        margin: 20px;
                    }

                    .precioProducto {
                        font-weight: 600;
                        font-size: 19px;
                    }

                    a {
                        text-decoration: none;
                        color: #000;
                        border: 1px solid $colorPrincipal;
                        padding: 10px;
                        border-radius: 10px;

                        &:hover {
                            font-weight: 600;
                            background-color: $colorPrincipal;
                            box-shadow: $sombra-producto-hover;
                        }
                    }
                }
            }
        }
    }
}